<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
    
<mapper namespace="com.yonyou.iuap.demo.dao.DemoSubMapper">

    <resultMap id="BaseResultMap" type="com.yonyou.iuap.demo.entity.DemoSub">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="FK_ID_YGDEMO_YW_SUB"  property="fkDemoSub" />
        <result column="begin_date"  property="beginDate" />
        <result column="END_DATE"  property="endDate" />
        <result column="SUB_CODE"  property="subCode" />
        <result column="NAME"  property="name" />
        <result column="ZBR"  property="zbr" />
        <result column="SUB_MS"  property="subMs" />

        <result column="dr" property="dr" />
        <result column="ts" property="ts" />
        <result column="last_modified" property="lastModified" />
        <result column="last_modify_user" property="lastModifyUser" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />

    </resultMap>

        <select id="selectAllByPage"  resultMap="BaseResultMap">
                SELECT  t.* FROM DUBAN_SUB t WHERE t.dr=0

                        <if test="condition != null">
                <if test="condition.searchMap.id!=null and condition.searchMap.id!='' ">
                    and t.ID = #{condition.searchMap.id}
                </if>
                            <if test="condition.searchMap.fkDemoSub!=null and condition.searchMap.fkDemoSub!='' ">
                    and t.FK_ID_YGDEMO_YW_SUB = #{condition.searchMap.fkDemoSub}
                </if>



                            <if test="condition.searchMap.beginDate!=null and condition.searchMap.beginDate!='' ">
                    and t.begin_date = #{condition.searchMap.beginDate}
                </if>



                            <if test="condition.searchMap.subCodeName!=null and condition.searchMap.subCodeName!='' ">
                    and t.sub_code_name = #{condition.searchMap.subCodeName}
                </if>



                            <if test="condition.searchMap.endDate!=null and condition.searchMap.endDate!='' ">
                    and t.END_DATE = #{condition.searchMap.endDate}
                </if>



                            <if test="condition.searchMap.subCode!=null and condition.searchMap.subCode!='' ">
                    and t.SUB_CODE = #{condition.searchMap.subCode}
                </if>



                            <if test="condition.searchMap.name!=null and condition.searchMap.name!='' ">
                    and t.NAME = #{condition.searchMap.name}
                </if>



                            <if test="condition.searchMap.zbrName!=null and condition.searchMap.zbrName!='' ">
                    and t.zbr_name = #{condition.searchMap.zbrName}
                </if>



                            <if test="condition.searchMap.zbr!=null and condition.searchMap.zbr!='' ">
                    and t.ZBR = #{condition.searchMap.zbr}
                </if>



                            <if test="condition.searchMap.subMs!=null and condition.searchMap.subMs!='' ">
                    and t.SUB_MS = #{condition.searchMap.subMs}
                </if>




                        </if>
                        order by ts desc
                        <if test="page != null">
                                <if test="page.sort!=null">
                                        order by
                                        <foreach collection="page.sort" item="item" separator=" ">
                        ${item.property}  ${item.direction}
                                        </foreach>
                                </if>
                        </if>
        </select>
        
</mapper>
      